$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default; 
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';


body{
    background-color: #E5E7E9;
}

nav{
    border-bottom: 5px solid $blue;
}

footer{
    border-top: 5px solid rgba(#000000, $alpha: 0.7);
}

#app{
    height: 100vh !important;
}

.card {
    border-radius: 0px !important;
    border: 0px;
    box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.08);
}

.single{
    .upload-input{
        height: 100px !important;
        width: 100px !important;
        border-radius: 5px !important;
        position: absolute;
        opacity: 0;
    }

    .uploader-mask{
        height: 100px !important;
        width: 100px !important;
        border-radius: 5px !important;
        border: 2px dashed #ccc;

    }

    .uploader-icon{
        height: 35px !important;
    }
}

